<html>
<head>
    <title>dd</title>
</head>
<script src="{{ url_for('static',filename='js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/echarts/echarts.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/layui/layui.js') }}"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table-locale-all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static',filename='js/layui/css/layui.css') }}">
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<body>
<div style="margin-left: 20px;margin-top: 30px;">
    <div class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">来源:</label>
            <div class="layui-input-block" style="width: 160px;">
                <select id="resource" title="大类">
                    <option value="douban_book" selected>豆瓣图书</option>
                </select>
                <input type="button" value="开始搜集" id="collect" class="layui-btn">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">批次:</label>
            <div class="layui-input-block" style="width: 160px;">
                <select id="batchno" title="批次">
                    {% for b in bts %}
                        <option value="{{ b }}">{{ b }}</option>
                    {% endfor %}
                </select>
                <input type="button" value="查询" id="query_batch" class="layui-btn">
            </div>
        </div>
    </div>
    <div id="score_chart" style="width: 400px;height: 300px"></div>
    <div class="panel-body" style="padding-bottom:10px; width: 80%">
        {#<div id="toolbar" class="btn-group">
            <button id="btn_ok" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>通过
            </button>
            <button id="btn_refuse" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>拒绝
            </button>
        </div>#}
    </div>
    <div style="width: 80%;padding-left: 20px;;">
      <table id="tb_books"></table>
    </div>

</div>
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('score_chart'));

    // 指定图表的配置项和数据
    var option = {
        title: {
            text: '图书得分'
        },
        tooltip: {},
        legend: {
            data: ['得分']
        },
        xAxis: {
            data: []
        },
        yAxis: {},
        series: [{
            name: '得分',
            type: 'bar',
            data: []
        }]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
<script type="text/javascript">

    layui.use(['layer'], function () {
        var layer = layui.layer;

        $(document).ready(function () {
            $('#collect').on('click', function () {
                var index = layer.load(1, {
                    shade: [0.1, '#fff'] //0.1透明度的白色背景
                });
                $.ajax({
                    url: '/collect_douban_book',
                    type: 'POST',
                    success: function (data) {
                        layer.close(index);
                        if (data.code != 1) {
                            layer.msg('无法采集' + data.content);
                        } else {
                            layer.msg('采集结束');
                        }

                    }
                });
            });

            $('#query_batch').on('click', function () {
                $.ajax({
                    url: '/query_books_api/' + $('#batchno').val(),
                    type: 'GET',
                    success: function (data) {
                        myChart.setOption({
                            xAxis: {
                                data: data.categories
                            },
                            series: [{
                                // 根据名字对应到相应的系列
                                name: '本',
                                data: data.data
                            }]
                        });
                    }
                });
                $("#tb_books").bootstrapTable('refresh');
            });


            var oTable = new TableInit();
            oTable.Init();
        });

        $.ajax({
            url: '/query_books/' + $('#batchno').val(),
            type: 'GET',
            success: function (data) {
                myChart.setOption({
                    xAxis: {
                        data: data.categories
                    },
                    series: [{
                        // 根据名字对应到相应的系列
                        name: '本',
                        data: data.data
                    }]
                });
            }
        });


        var TableInit = function () {
            var oTableInit = new Object();
            //初始化Table
            oTableInit.Init = function () {
                $('#tb_books').bootstrapTable({
                    url: '/query_books/table',         //请求后台的URL（*）
                    method: 'get',                      //请求方式（*）
                    toolbar: '#toolbar',                //工具按钮用哪个容器
                    striped: true,                      //是否显示行间隔色
                    cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                    pagination: true,                   //是否显示分页（*）
                    sortable: false,                     //是否启用排序
                    sortOrder: "asc",                   //排序方式
                    queryParams: oTableInit.queryParams,//传递参数（*）
                    sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                    pageNumber: 1,                       //初始化加载第一页，默认第一页
                    pageSize: 10,                       //每页的记录行数（*）
                    pageList: [5, 10, 20, 50],        //可供选择的每页的行数（*）
                    search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                    strictSearch: true,
                    showColumns: true,                  //是否显示所有的列
                    showRefresh: true,                  //是否显示刷新按钮
                    minimumCountColumns: 2,             //最少允许的列数
                    clickToSelect: true,                //是否启用点击选中行
                    height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                    uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
                    showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
                    cardView: false,                    //是否显示详细视图
                    detailView: false,                   //是否显示父子表
                    columns: [{
                        radio: true
                    }, {
                        field: 'id',
                        title: '编号'
                    }, {
                        field: 'title',
                        title: '书名'
                    }, {
                        field: 'author',
                        title: '作者'
                    }, {
                        field: 'desc',
                        title: '图书明细'
                    }, {
                        field: 'comment',
                        title: '简介'
                    }, {
                        field: 'score',
                        title: '评分'
                    }, {
                        field: 'batchdate',
                        title: '采集日期'{#,
                        formatter: function (value, row, index) {
                            /*var time=value;
                             if(time==null){
                             return "";
                             }else{
                             var sj=parseInt(time.replace(/\D/igm,""));
                             var rq=new Date(sj);
                             return rq.toLocaleDateString();
                             }*/
                            var da = new Date(value);
                            return da.toLocaleDateString()
                        }#}
                    }]
                });
            };

            //得到查询的参数
            oTableInit.queryParams = function (params) {
                var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                    limit: params.limit,   //页面大小
                    offset: params.offset,  //页码
                    batchdate: $('#batchno').val()
                };
                return temp;
            };

            return oTableInit;
        };
    });
</script>
</body>
</html>